PUBLIC_SITE_URL=https://marlboromanorcleaning.com
PUBLIC_QUOTE_PORTAL_URL=REPLACE_WITH_APPS_SCRIPT_EXEC_URL
PUBLIC_PHONE_E164=REPLACE_WHEN_AVAILABLE
PUBLIC_PHONE_DISPLAY=REPLACE_WHEN_AVAILABLE
PUBLIC_SUPPORT_EMAIL=hello@marlboromanorcleaning.com
PUBLIC_QUOTES_EMAIL=quotes@marlboromanorcleaning.com
PUBLIC_GOOGLE_BUSINESS_PROFILE_URL=REPLACE_WHEN_VERIFIED
PUBLIC_SEARCH_CONSOLE_VERIFICATION=
PUBLIC_ANALYTICS_PROVIDER=none
PUBLIC_ANALYTICS_ID=

